{% extends 'base.html' %}

{% block content %}
  <article>
    <hgroup>
      <h2>Sign Up</h2>
      <h3>Create your private BudgetBrain account</h3>
    </hgroup>
    <div style="text-align: right;">
      <label for="theme-switcher">
      <input type="checkbox" id="theme-switcher" role="switch">
    Dark Mode
  </label>
</div>

    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
  </article>
{% endblock %}